*{
  margin:  0;
  padding: 0;
  box-sizing: border-box;
  color : #fff
}

/* Customize the scrollbar track (the background) */
::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

/* Customize the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #888; /* Change the color of the thumb */
  border-radius: 6px; /* Add rounded corners to the thumb */
}

/* Customize the scrollbar track on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Change the color on hover */
}

