*{
  margin:  0;
  padding: 0;
  box-sizing: border-box;
  color : #fff
}


.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
  color : #FFF !important ;
  border-radius:  10px !important;
  border:  1px solid #0DBADE;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
  color : #FFF !important ;
  border-radius:  10px !important;
  border:  1px solid #0DBADE;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {

  color : #FFF !important ;


}

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
  border-radius:  10px !important;
  border:  1px solid #0DBADE;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root{
  color : black !important ;
}


.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  color : #FFF !important ;


}

.css-8ewcdo-MuiInputBase-root-MuiOutlinedInput-root{
  color : #FFF !important ;
  border-radius:  10px !important;
  border:  1px solid #0DBADE;

}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  color : #FFF !important ;
}


.css-19micn4-MuiButtonBase-root-MuiPaginationItem-root {
  color : #FFF !important
}



/* Customize the scrollbar track (the background) */
::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

/* Customize the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #888; /* Change the color of the thumb */
  border-radius: 6px; /* Add rounded corners to the thumb */
}

/* Customize the scrollbar track on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Change the color on hover */
}